# Pre - Processing

**Quantium Data Analytics Job Simulation**

Date: 28/01/2026

---

## Packages

In [1]:
# Import required packages

import pandas as pd

---

## Data

### Load Data

#### Purchase Behaviour Data

In [2]:
purchase_data = pd.read_csv("../data/bronze/QVI_purchase_behaviour.csv", delimiter = ",", header = 0)
purchase_data.head()

   LYLTY_CARD_NBR               LIFESTAGE PREMIUM_CUSTOMER
0            1000   YOUNG SINGLES/COUPLES          Premium
1            1002   YOUNG SINGLES/COUPLES       Mainstream
2            1003          YOUNG FAMILIES           Budget
3            1004   OLDER SINGLES/COUPLES       Mainstream
4            1005  MIDAGE SINGLES/COUPLES       Mainstream

In [3]:
purchase_data.info()

<class 'pandas.DataFrame'>
RangeIndex: 72637 entries, 0 to 72636
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   LYLTY_CARD_NBR    72637 non-null  int64
 1   LIFESTAGE         72637 non-null  str
 2   PREMIUM_CUSTOMER  72637 non-null  str
dtypes: int64(1), str(2)
memory usage: 1.7 MB

In [4]:
purchase_data[["LIFESTAGE"]].value_counts()

LIFESTAGE
RETIREES                  14805
OLDER SINGLES/COUPLES     14609
YOUNG SINGLES/COUPLES     14441
OLDER FAMILIES             9780
YOUNG FAMILIES             9178
MIDAGE SINGLES/COUPLES     7275
NEW FAMILIES               2549
Name: count, dtype: int64

In [5]:
purchase_data[["PREMIUM_CUSTOMER"]].value_counts()

PREMIUM_CUSTOMER
Mainstream          29245
Budget              24470
Premium             18922
Name: count, dtype: int64

From looking at the `QCI_purchase_behaviour.csv` data we can confirm **no missing data** and the data types are ideal already.

#### Transaction Data

In [6]:
transaction_data = pd.read_excel("../data/bronze/QVI_transaction_data.xlsx", sheet_name="in")
transaction_data.head()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,43390,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0
1,43599,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,43605,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
3,43329,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0
4,43330,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8

In [7]:
transaction_data.info()

<class 'pandas.DataFrame'>
RangeIndex: 264836 entries, 0 to 264835
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DATE            264836 non-null  int64
 1   STORE_NBR       264836 non-null  int64
 2   LYLTY_CARD_NBR  264836 non-null  int64
 3   TXN_ID          264836 non-null  int64
 4   PROD_NBR        264836 non-null  int64
 5   PROD_NAME       264836 non-null  str
 6   PROD_QTY        264836 non-null  int64
 7   TOT_SALES       264836 non-null  float64
dtypes: float64(1), int64(6), str(1)
memory usage: 16.2 MB

From looking at the `QVI_transaction_data.xlsx` we can see that there are **no missing data**, and the data types are ideal already. We can see `PROD_NAME` column contains both the brand and the flavour name, which can be split into two different columns.

### Fix the Data